*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    color: plum;
    font-size: 45px;
    font-style: italic;
    font-weight: bolder;
}

body{
    background-image: url(./wallpaper18.jpg);
    background-position: center;
    background-size: cover;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f223fe;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}